.block1 {
    height: 100vh;
    border: solid 2px black;
    border-radius: 5px;
    background: linear-gradient(white, #000);
    position: relative;
    margin: 20px;
}

.block2 {
    height: 25px;
    width: 50px;
    padding: 5px;
    background-color: yellow;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    right: 0;
    top: 0;
    box-sizing: content-box;
    position: absolute;
}