.menu-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: azure;
    height: 300px;
    width: 100vh;
    border-radius: 10px;
    border: solid black 10px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 25px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* flex-grow: 0; */
    padding-left: 3px;
    padding-right: 3px;
}

.options,
.search,
.contacts,
.blog,
.home {
    font-size: 25px;
    font-weight: bolder;
    /* flex-grow: 1; */
}