.black-container {
    /* устанавливает элемент как flex-контейнер */
    display: flex;
    /* центрирование по горизонтали */
    justify-content: center;
    /* центрирование flex-элементов по поперечной оси*/
    align-items: center;
    background-color: black;
    height: 100vh;
    margin: 100px 10px;
}

.blue-button {
    background-color: blue;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
}