* {
    box-sizing: border-box;
}

.name-application {
    font-size: 24px;
    text-align: center;
}

.menu {
    margin-top: 32px;
    background-color: lightblue;
    border-radius: 4px;
    padding: 8px;
    max-width: 400px;
    margin: 0 auto;
}

.actions {
    display: flex;
    margin-bottom: 8px;
}


.time-input {
    height: 32px;
    border-radius: 4px;
    border: 0;
    flex: 1;
}


.btn {
    height: 32px;
    min-width: 94px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
    background-color: rgb(134, 185, 203);
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgb(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all300ms ease;
    /* transform: scale(1,1); */
    background-color: rgb(105, 173, 207);
}

.count {
    background-color: bisque;
}

.text {
    background-color: darkgray;
}

#countdown,
#time-out {
    display: flex;
    justify-content: center;
    height: 40px;
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px 20px;
}