* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    /* устанавливает элемент как flex-контейнер */
    display: flex;
    /* расположение flex-элементов вертикально */
    flex-direction: column;
}

.header h1,
.main h1,
.footer h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    align-items: center;
}

.header,
.footer {
    height: 150px;
    background-color: darksalmon;
    display: flex;
    /* центрирование по горизонтали */
    justify-content: center;
    /* центрирование flex-элементов по поперечной оси */
    align-items: center;
}

.main {
    height: calc(100vh - 300px);
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}